{{> navbar}}

<div class="container">

  <a class="waves-effect waves-light btn-flat backButton"><i class="material-icons left">navigate_before</i>Patient Queue</a>

  <ul class="collection">
    <li class="collection-item avatar">
      {{#if isolationrequired}}
        <img src="/images/mask.png" alt="" class="circle">
      {{else}}
        <img src="/images/clipboard.png" alt="" class="circle">
      {{/if}}
      <span class="title"><h4>{{firstname}} {{lastname}}</h4></span>
      <p>Born: {{dob}} <br>
      </p>
      {{#if urgent}}
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      {{/if}}
    </li>

    <div class = "row">
      <h5>Customer feels:</h5>
      <div class="col s12">
              <table>
        <thead>
          <tr>
              <th>Chest Pain</th>
              <th>Short of Breath</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              {{#if chestpain}}
              YES
              {{else}}
              NO
              {{/if}}
            </td>
            <td>
              {{#if shortbreath}}
              YES
              {{else}}
              NO  
              {{/if}}         
              </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>

    <div class = "row">
      <h5>Exposure:</h5>
      <div class="col s12">
              <table>
        <thead>
          <tr>
              <th>Covid</th>
              <th>Influenza</th>
              <th>Tuberculosis</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              {{#if covidexposed}}
              YES
              {{else}}
              NO
              {{/if}}
            </td>
            <td>
              {{#if influenzaexposed}}
              YES
              {{else}}
              NO  
              {{/if}}         
              </td>
            <td>
              {{#if tuberculosisexposed}}
              YES
              {{else}}
              NO
              {{/if}}
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>


  {{#if nursenotes}}
    <h5>Nurse Notes:</h5>

    {{#if nurseNoteEdit}}
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s11">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="new_nurse_note" class="materialize-textarea">{{nursenotes}}</textarea>
              <label for="new_nurse_note">Nurse Notes:</label>
            </div>
            <div class = "col s1">
              <a class="btn-floating btn-large waves-effect waves-light nursenotesNormalbtn ##607d8b blue-grey" id={{id}}><i class="material-icons">save</i></a>
            </div>
          </div>
        </form>
      </div>

      {{else}}
        <div class="row">
          <div class="col s11">
            <p>{{nursenotes}}</p>
          </div>
          <div class="col s1">
            {{!-- <i class="material-icons hoverable">edit</i> --}}
            <a class="btn-floating btn-large waves-effect waves-light nursenotesbtn ##607d8b blue-grey" id={{id}}><i class="material-icons">edit</i></a>
          </div>
        </div>
         
      {{/if}}

  {{else}}
    <h5>Add a Note:</h5>

    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s11">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="new_nurse_note" class="materialize-textarea">{{nursenotes}}</textarea>
          <label for="new_nurse_note">Add a New Note:</label>
        </div>
        <div class = "col s1">
          <a class="btn-floating btn-large waves-effect waves-light nursenotesNormalbtn red" id={{id}}><i class="material-icons">add</i></a>
        </div>
      </div>
    </form>
  </div>
  {{/if}}

  <div class="row">
    <div class="col s4 offset-s4">
      {{#if triaged}}
        {{#if discharged}}
          <a class="waves-effect waves-light disabled btn-large" id={{id}}><i class="material-icons right">update</i>Discharged</a>
        {{else}}
        <a class="waves-effect waves-light dischargebtn btn-large" id={{id}}><i class="material-icons right">update</i>Discharge</a>
        {{/if}}
      {{else}}
        <a class="waves-effect waves-light triagebtn btn-large" id={{id}}><i class="material-icons right">update</i>Triage</a>
      {{/if}}
    </div>
  </div>


</div>

<script src="/js/patientview.js"></script>