
   {{> navbar}}

<div class= "container">
   <h5>Patient List:</h5>
   {{#each patientlist}}
   <div class = "patientClick" id = {{this.dataValues.id}}>
      <ul class="collection hoverable " >
         <li class="collection-item avatar">
            {{#if dataValues.isolationrequired}}
            <img src="/images/mask.png" alt="" class="circle">
            {{else}}
               <img src="/images/clipboard.png" alt="" class="circle">
            {{/if}}
            <span class="title">Name: <b>{{this.dataValues.firstname}} {{this.dataValues.lastname}} </b></span>
            <p>Symptoms: {{this.dataValues.symptoms}} <br>
               Signed in: {{this.dataValues.createdAt}}<br>
               {{#if this.dataValues.triaged}}
               <b>Triaged:</b> <i class="material-icons">check</i>
               {{/if}}

            </p>
            {{#if dataValues.urgent}}
               <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
               </p>
  
            {{/if}}

      </ul>
   </div>
   {{/each}}
</div>
<script src = "/js/patientQueue.js"></script>