{{> navbar}}
<div class="container">

    <ul class="collection with-header">
        <li class="collection-header"><h4>{{firstname}} {{lastname}}</h4></li>
        <li class="collection-item">Date of birth: {{dob}}</li>
        <li class="collection-item">Symptoms: {{symptoms}}</li>
        {{#if shortbreath}}
            <li class="collection-item">Short of breath: YES</li>
        {{else}}
            <li class="collection-item">Short of breath: NO</li>
        {{/if}}
        {{#if chestpain}}
            <li class="collection-item">Chest Pain: YES</li>
        {{else}}
            <li class="collection-item">Chest Pain: NO</li>
        {{/if}}
        {{#if covidexposed}}
            <li class="collection-item">Exposed to Covid: YES</li>
        {{else}}
            <li class="collection-item">Exposed to Covid: NO</li>
        {{/if}}
    </ul>


    <div class="row">
        <div class="input-field col s6">
        <input value={{nursenotes}} id="first_name2" type="text" class="validate">
        <label class="active" for="first_name2">Nurse Notes:</label>
        </div>
    </div>


  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea" value="test"></textarea>
          <label for="icon_prefix2" value="test">Nurse Notes:</label>
        </div>
      </div>
    </form>
  </div>

</div>

<script src="/js/patientview.js"></script>